.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Webcam {
}

.PhotoButton {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.description {
  background-color: white;
  padding: 10px;
  text-align: left;
}

.lookalike img {
  width: 100%;
}

.lookalike {
  margin: 10px;
}