.PhotoPreview {
  position: relative;
  overflow: hidden;
}

.PhotoPreview .frame {
  margin: 10px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  background-color: white;
  rotate: -2deg;
  transition-property: top;
  transition-duration: 1s;
  position: relative;
  top: -300px;
}

.PhotoPreview .showing {
  top: 0;
}

.PhotoPreview .image {
  width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1s;
}

.PhotoPreview .showing .image {
  opacity: 1;
  display: block
}

.PhotoPreview .upload {
  margin: 1em;
  padding: 1em;
}